.root {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 100px;
}

.content {
  width: 100%;
  max-width: 800px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 20px;
}

.heading {
  margin: 0;
  margin-bottom: 40px;
}

.personalStatement {
  display: flex;
  flex-direction: column;
  width: 100%;
  color: #888;
  align-items: center;
  margin-bottom: 20px;
}

.personalStatement p {
  flex-grow: 1;
}

.personalStatement img {
  border-radius: 50%;
  width: 100px;
  height: 100px;
 }

.skills {
  width: 100%;
  margin-bottom: 50px;
}

@media (min-width:600px) {
  .personalStatement {
     flex-direction: row;
  }

 .personalStatement img {
    margin-right: 20px;
  } 
}
